db.sqlite3
*.pyc
api/*.pyc
users/*.pyc
products/*.pyc
shopkeepers/*.pyc
payment/*.pyc
analytics/*.pyc
pictures_profile/
shopkeepers/migrations/*.*
users/migrations/*.*
products/migrations/*.*
analytics/migrations/*.*
payment/migrations/*.*
misitio/
orders/migrations/*.*
qualifications/migrations/*.*
coupons/migrations/*.*
